 .u-section-1 {
  background-image: url("images/gggg-min.jpg");
  opacity: 1;
}
/* Animation for Pricing background*/
.price-fade {
  animation: price-fade 1.5s;
}
@keyframes price-fade {
  from {
    opacity: 0;
    width: 90%;
    
  }
  to {
    opacity: 1;
    width: 100%;
    
  }
}
.u-section-1 .u-sheet-1 {
  min-height: 772px;
}

.u-section-1 .u-group-1 {
  width: 500px;
  min-height: 91px;
  height: auto;
  margin: 265px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  margin: 26px 0 0 396px;
}

.u-section-1 .u-text-2 {
  margin: -38px 260px 0 22px;
}

.u-section-1 .u-group-2 {
  width: 500px;
  min-height: 94px;
  height: auto;
  margin: -94px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 260px 0 0;
}

.u-section-1 .u-text-4 {
  margin: -39px 0 0 374px;
}

.u-section-1 .u-group-3 {
  width: 500px;
  min-height: 94px;
  height: auto;
  margin: 16px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 21px;
  padding-right: 21px;
}

.u-section-1 .u-text-5 {
  margin: 24px 215px 0 0;
}

.u-section-1 .u-text-6 {
  margin: -36px 9px 0 383px;
}

.u-section-1 .u-group-4 {
  width: 500px;
  min-height: 94px;
  height: auto;
  margin: -94px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0 260px 0 0;
}

.u-section-1 .u-text-8 {
  margin: -39px 0 0 374px;
}

.u-section-1 .u-group-5 {
  width: 500px;
  min-height: 94px;
  height: auto;
  margin: 16px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 22px;
  padding-right: 22px;
}

.u-section-1 .u-text-9 {
  margin: 27px 238px 0 0;
}

.u-section-1 .u-text-10 {
  margin: -39px 8px 0 382px;
}

.u-section-1 .u-group-6 {
  width: 500px;
  min-height: 94px;
  height: auto;
  margin: -94px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-11 {
  margin: 0 260px 0 0;
}

.u-section-1 .u-text-12 {
  margin: -39px 0 0 374px;
}

.u-section-1 .u-group-7 {
  width: 500px;
  min-height: 94px;
  height: auto;
  margin: 16px 0 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-13 {
  margin: 0 260px 0 0;
}

.u-section-1 .u-text-14 {
  margin: -39px 0 0 374px;
}

.u-section-1 .u-group-8 {
  width: 500px;
  min-height: 94px;
  height: auto;
  margin: -94px auto 60px 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 22px;
  padding-right: 22px;
}

.u-section-1 .u-text-15 {
  margin: 27px 238px 0 0;
}

.u-section-1 .u-text-16 {
  margin: -39px 8px 0 382px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -37px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-left: 236px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -12px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 214px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 55px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 232px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 100px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 214px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 78px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 230px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 100px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 214px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 100px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 214px;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 78px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 230px;
  }
}